@mixin my-0 {
  margin-top: 0;
  margin-bottom: 0;
}
@mixin my-2 {
  margin-top: .5rem;
  margin-bottom: .5rem;
}
@mixin my-4 {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
@mixin my-6 {
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
}
@mixin my-8 {
  margin-top: 2rem;
  // margin-bottom: 2rem;
}

@mixin mx-auto {
  margin-left: auto;
  margin-right: auto;
}
@mixin mx-0 {
  margin-left: 0;
  margin-right: 0;
}
@mixin mx-1 {
  margin-left: 0.25rem;
  margin-right: 0.25rem;
}
@mixin mx-2 {
  margin-left: .5rem;
  margin-right: .5rem;
}
@mixin mx-4 {
  margin-left: 1rem;
  margin-right: 1rem;
}
@mixin mx-6 {
  margin-left: 1.5rem;
  margin-right: 1.5rem;
}
@mixin mx-8 {
  margin-left: 2rem;
  margin-right: 2rem;
}