{{ $ctx := .ctx }}
{{ $pages := .pages }}

<div class="postcard-layout content-margin">
    {{ range ($ctx.Paginator).Pages }}
        <a href="{{ .Permalink }}">
            <div class="postcard-item">
                <img src="{{ .Params.image }}" class="postcard-icon round-image"/>
                <div class="postcard-content">
                    <div class="postcard-title">
                        <span>{{ .Title }}</span>
                    </div>
                    <div class="postcard-summary">
                        <span>{{ .Summary | plainify }}</span>
                    </div>
                </div>
            </div>
        </a>
    {{ end }}
    {{ template "_internal/pagination.html" $ctx }}
</div>

{{ define "breadcrumbtext" }}
    {{ if .p1.Parent }}
        {{ if not .p1.Parent.IsHome }}
            {{ template "breadcrumbtext" (dict "p1" .p1.Parent)  }}
        {{ end }}
    {{ end }}

    {{ if .p1.Parent }}
        {{ if .p1.Parent.IsHome }}
            <span>{{ .p1.Title }}</span>
        {{ else }}
            <span>/</span>
            <span>{{ .p1.Title }}</span>
        {{ end }}
    {{ end }}
{{ end }}
