.breadcrumbs {
  @include font-bold;
  list-style-type: none;
  padding: 0;
  margin: 0;

  a {
    color: var(--color-text);
    border-bottom: 2px solid transparent;

    &:hover {
      border-bottom-color: var(--color-text-secondary);
    }
  }

  li {
    display: inline;
  }
}

.lore {
  text-wrap: wrap;
}